<h1>Recuperação de Senha</h1>

<h3>Você esqueceu sua senha? Não tem problema, utilize o token abaixo para recupera-là.</h3>

<h2>TOKEN: <strong>{{ token }}</strong> </h2>

<h3>
   Para recuperar a sua senha basta voltar a site do <a href="#">My Project</a>, na tela de criação de nova senha
   e ultilizar este token para confirmar a alteração da senha.
</h3>


