<html lang="en">
<head>
   <meta charset="UTF-8">
   <style>
      container {
         display: flex;
         flex-direction: column;
         align-items: center;
         font-family: Arial, Helvetica, sans-serif;
      }
      
      .email-title {
         width: 500px;
         background-color: #192a56;
         padding: 5px 20px;
         text-align: center;
      }
      
      .email-title p {
         color: #fff;
         font-size: 20pt;
      }
      
      .email-body {
         width: 500px;
         padding: 5px 20px;
         background-color: #ced6e0;
         color: #000;
      }
      
      .project-title {
         font-size: 14pt;
         margin-left: 30px;
         margin-top: 55px;
      }
      
      .project-desc {
         font-size: 12pt;
         margin-left: 30px;
      }
      
      .dates-projects {
         flex-direction: column;
         font-size: 11pt;
         margin-top: 40px;
         margin-left: 30px;
         margin-bottom: 30px;
      }
      
      .email-footer {
         background-color: #353b48;
         color: #fff;
         width: 500px;
         padding: 10px 20px;
         font-size: 10px;
         text-align: center;
      }
   </style>
</head>
<body>

   <container>

      <div class="email-title">
         <p>Seu novo projeto</p>
      </div>
   
      <div class="email-body">
   
         <p class="project-title">Titulo do Projeto:  <strong>{{ title }}</strong> </p>
   
         <p class="project-desc"> Descrição do Projeto: <strong>{{ description }}</strong></p>
   
         <div class="dates-projects">
            <p>Data de Criação: <strong>{{ createdAt }}</strong></p>
   
            <p>Data de Termino Esperada: <strong>{{ completion_date }}</strong></p>
         </div>
   
      </div>

      <div class="email-footer">
         <p>© Copyright 2020 - 2020   |   My Project  |  Todos os Direitos Reservados</p>
      </div>

   </container>

</body>
</html>

