<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
</head>
<body>
   
</body>
</html>


<h1>Seja Bem-Vindo {{ first_name }}</h1>

<h3>Obrigado por aderir o My Project na forma de gerenciar seus projetos.</h3>
